/* html,
body { */
/* height: 100%; */
/* margin: 0;
  padding: 0; */
/* } */
.movie-items.full-width,
.trailers.full-width,
.latestnew.full-width,
.full-width {
  padding: 70px 100px;
}
@media (max-width: 767px) {
  .movie-items.full-width,
  .trailers.full-width,
  .latestnew.full-width,
  .full-width {
    padding: 70px 30px;
  }
}
.full-width-hd,
.full-width-ft {
  padding: 0 100px;
}
@media (max-width: 767px) {
  .full-width-hd,
  .full-width-ft {
    padding: 0 30px;
  }
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
}

body,
p {
  color: #6c717b;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
}

h1 {
  color: #191e47;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  letter-spacing: -0.4px;
}

h2 {
  color: #191e47;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -0.2px;
}

h3 {
  color: #191e47;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.25rem;
  letter-spacing: -0.2px;
}

h4 {
  color: #191e47;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}

h5 {
  color: #191e47;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.625rem;
}

h6 {
  color: #191e47;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.375rem;
}

.p-large {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.p-small {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.testimonial-text {
  font-style: italic;
}

.testimonial-author {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.li-space-lg li {
  margin-bottom: 0.5rem;
}

a {
  color: #6c717b;
  text-decoration: underline;
}

a:hover {
  color: #6c717b;
  text-decoration: underline;
}

.no-line {
  text-decoration: none;
}

.no-line:hover {
  text-decoration: none;
}

.blue {
  color: #4555d2;
}

.bg-gray {
  background-color: #f9fafe;
}

.btn-solid-reg {
  display: inline-block;
  padding: 1.375rem 2.25rem 1.375rem 2.25rem;
  border: 1px solid #4555d2;
  border-radius: 30px;
  background-color: #4555d2;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-solid-reg:hover {
  background-color: transparent;
  color: #4555d2; /* needs to stay here because of the color property of a tag */
  text-decoration: none;
}

.btn-solid-lg {
  display: inline-block;
  padding: 1.625rem 2.625rem 1.625rem 2.625rem;
  border: 1px solid #4555d2;
  border-radius: 30px;
  background-color: #4555d2;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-solid-lg:hover {
  background-color: transparent;
  color: #4555d2; /* needs to stay here because of the color property of a tag */
  text-decoration: none;
}

.btn-outline-reg {
  display: inline-block;
  padding: 1.375rem 2.25rem 1.375rem 2.25rem;
  border: 1px solid #cc2973;
  border-radius: 30px;
  background-color: transparent;
  color: #cc2973;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-outline-reg:hover {
  background-color: #cc2973;
  color: #ffffff;
  text-decoration: none;
}

.btn-outline-lg {
  display: inline-block;
  padding: 1.625rem 2.625rem 1.625rem 2.625rem;
  border: 1px solid #cc2973;
  border-radius: 30px;
  background-color: transparent;
  color: #cc2973;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-outline-lg:hover {
  background-color: #cc2973;
  color: #ffffff;
  text-decoration: none;
}

.btn-outline-sm {
  display: inline-block;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border: 1px solid #8d8d8d;
  border-radius: 10px;
  background-color: transparent;
  color: #444444;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-outline-sm:hover {
  background-color: #2b2b2b;
  color: #ffffff;
  text-decoration: none;
}

.form-group {
  position: relative;
  margin-bottom: 1.25rem;
}

.form-control-input,
.form-control-textarea {
  width: 100%;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  padding-left: 1.5rem;
  border: 1px solid #cbcbd1;
  border-radius: 30px;
  background-color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5rem;
  -webkit-appearance: none; /* removes inner shadow on form inputs on ios safari */
}

.form-control-textarea {
  display: block;
  height: 14rem; /* used instead of html rows to normalize height between Chrome and IE/FF */
}

.form-control-input:focus,
.form-control-textarea:focus {
  border: 1px solid #a1a1a1;
  outline: none; /* Removes blue border on focus */
}

.form-control-input:hover,
.form-control-textarea:hover {
  border: 1px solid #a1a1a1;
}

.form-control-submit-button {
  display: inline-block;
  width: 100%;
  height: 3.25rem;
  border: 1px solid #4555d2;
  border-radius: 30px;
  background-color: #4555d2;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  cursor: pointer;
  transition: all 0.2s;
}

.form-control-submit-button:hover {
  border: 1px solid #4555d2;
  background-color: transparent;
  color: #4555d2;
}

/* Navbar */

.navbar {
  height: 72px;
  font-weight: 500;
  background-color: transparent;
  font-size: 0.875rem;
  line-height: 0.875rem;
  transition: all 300ms ease-in-out;
}

.navbar_display {
  background-color: #ffffff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
}

.navbar .navbar-brand {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.navbar .logo-image img {
  /* width: 125px; */
  height: 40px;
}

.offcanvas-collapse {
  position: fixed;
  top: 3.25rem; /* adjusts the height between the top of the page and the offcanvas menu */
  bottom: 0;
  left: 100%;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow-y: auto;
  visibility: hidden;
  background-color: #ffffff;
  transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
}

.offcanvas-collapse.open {
  visibility: visible;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.navbar .navbar-nav {
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

.navbar .nav-item .nav-link {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  color: #191e47;
  text-decoration: none;
  transition: all 0.2s ease;
}

.navbar .nav-item.dropdown.show .nav-link,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
  color: rgb(105, 105, 105);
}

/* Dropdown Menu */
.navbar .dropdown .dropdown-menu {
  animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.navbar .dropdown-menu {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  border: none;
  background-color: #ffffff;
}

.navbar .dropdown-item {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  color: #575757;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0.875rem;
  text-decoration: none;
}

.navbar .dropdown-item:hover {
  background-color: #afafaf;
  color: #242424;
}

.navbar .dropdown-divider {
  width: 100%;
  height: 1px;
  margin: 0.5rem auto 0.5rem auto;
  border: none;
  background-color: #efefef;
}
/* end of dropdown menu */

.navbar .navbar-toggler {
  padding: 0;
  border: none;
  font-size: 1.25rem;
}

/* 검색창 설정 */

.form {
  position: relative;
}

.form .fa-search {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #9ca3af;
}

.form span {
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 1px;
  border-left: 1px solid #d1d5db;
}

.left-pan {
  padding-left: 7px;
}

.left-pan i {
  padding-left: 10px;
}

.form-input {
  width: 300px;
  height: 50px;
  text-indent: 30px;
  border-radius: 100px;
  background-color: #efeff1;
}

.form-input:focus {
  box-shadow: none;
  border: none;
}

/* Background image */
.back_img {
  height: 380px;
  opacity: 0.78;
}

/* 영화 포스터 부분 */
#movie {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.151);
  padding-right: 100px;
}

.poster {
  position: relative;
  right: 48px;
  z-index: 1;
  transform: translateY(-20px);
  border: 2px solid #eeeeee;
  border-radius: 6px;
  margin-right: 8px;
}

.about_movie {
  padding-right: 260px;
  padding-top: 24px;
}

/* 별점 부분 */

.star-rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 2.25rem;
  line-height: 2.5rem;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  width: 5em;
}

.star-rating input {
  display: none;
}

.star-rating label {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2.3px;
  -webkit-text-stroke-color: #2b2a29;
  cursor: pointer;
}

.star-rating :checked ~ label {
  -webkit-text-fill-color: gold;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  -webkit-text-fill-color: #fff58c;
}

/* Modal File Upload 부분 */

.filebox input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.filebox label {
  display: inline-block;
  padding: 10px 20px;
  color: #999;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-radius: 5px;
}

/* named upload */
.filebox .upload-name {
  display: inline-block;
  height: 35px;
  font-size: 18px;
  padding: 0 10px;
  vertical-align: middle;
  background-color: #f5f5f5;
  border: 1px solid #ebebeb;
  border-radius: 5px;
}

/* Modal 하단 부분 로고 */
.icon {
  position: relative;
  right: 215px;
}
i {
  padding: 4px;
  font-size: 21px;
  transition: all 300ms ease-out;
  cursor: pointer;
}

i.fa-twitter:hover {
  color: #00acee;
  transform: scale(1.1);
}

i.fa-instagram:hover {
  color: #dc143c;
  transform: scale(1.1);
}

i.fa-facebook-square:hover {
  color: #3b5998;
  transform: scale(1.1);
}

/* 각 섹션 */

.movie_contents {
  width: 600px;
  transform: translate(-24px, 8px);
}

/* #map {
  width: 640px;
  height: 100%;
  transform: translate(-18%);
  border-radius: 4px;
} */

/* 영화,장소 이미지 설정 */
.img-card.h-100 {
  border-radius: 4px;
}

.img-wrap {
  border: 5px solid #aaaaaa38;
  border-radius: 8px;
}

.back_color {
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 50px;
  padding-bottom: 50px;
  background: rgba(220, 220, 220, 0.493);
}

.movie_content {
  background: white;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #eeeeee;
}

.card {
  border: 5px solid #aaaaaa38;
}

.card-body {
  background: rgba(220, 220, 220, 0.493);
  border-radius: 8px;
  height: 250px;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  text-align: center;
}

img {
  height: 100%;
}
.top-slide {
  margin: 0 auto;
  width: 920px;
}

.carousel-indicators {
  top: 105%;
}

.carousel-indicators li {
  background-color: red;
}

/***************************************/
/* 푸터ㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓ */
/***************************************/

footer {
  background: url("../images/uploads/ft-bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
}
footer .flex-parent-ft {
  padding: 80px 0 60px 0;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 991px) {
  footer .flex-parent-ft {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    margin: 0 auto;
  }
}
@media (max-width: 991px) {
  footer .flex-parent-ft .flex-child-ft {
    width: 100%;
  }
}
footer .flex-parent-ft .flex-child-ft img {
  margin-bottom: 60px;
}
footer .flex-parent-ft .flex-child-ft p {
  margin-bottom: 15px;
}
footer .flex-parent-ft .flex-child-ft p a {
  color: #ffffff;
  font-size: 18px;
}
footer .flex-parent-ft .flex-child-ft h4 {
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 30px;
}
footer .flex-parent-ft .flex-child-ft ul {
  list-style: none;
  margin-left: 0;
}
footer .flex-parent-ft .flex-child-ft ul li {
  margin-bottom: 5px;
}
footer .flex-parent-ft .flex-child-ft ul li a {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: #abb7c4;
  font-weight: regular;
  text-transform: none;
}
footer .flex-parent-ft .flex-child-ft ul li a:hover {
  color: #dcf836;
}
footer .flex-parent-ft .flex-child-ft a.btn {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  color: #dd003f;
  font-weight: bold;
  text-transform: uppercase;
}
footer .flex-parent-ft .flex-child-ft form {
  margin-bottom: 20px;
}
footer .flex-parent-ft .flex-child-ft form input {
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  color: #abb7c4;
  font-weight: 300;
  text-transform: none;
  background-color: #020d18;
  border-color: #405266;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: url("../images/uploads/search-bg.png") no-repeat right 20px center;
}
footer .ft-copyright {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #405266;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #020d18;
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  -webkit-opacity: 0.7;
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  filter: alpha(opacity=70);
  padding-left: 380px;
  padding-right: 380px;
}
@media (max-width: 1200px) {
  footer .ft-copyright {
    padding-left: 125px;
    padding-right: 125px;
  }
}
@media (max-width: 767px) {
  footer .ft-copyright {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: inherit;
  }
}
footer .ft-copyright .backtotop a:hover {
  color: #dcf836;
}
footer.full-width-ft .ft-copyright {
  border-top: none;
  padding: 0;
  padding-bottom: 15px;
  padding-top: 15px;
}
@media (max-width: 767px) {
  footer.full-width-ft .ft-copyright {
    background: none;
  }
}
.ft-copyright-landing {
  text-align: center;
  background-color: #e8e8e8;
  padding: 23px;
}
.ft-copyright-landing p {
  text-transform: uppercase;
  margin-bottom: 0;
  color: #8c9296;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
}

/*********************/
/*     Copyright     */
/*********************/
.copyright {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  opacity: 1;
}

.copyright p,
.copyright a {
  text-decoration: none;
}

/******************************/
/*     Back To Top Button     */
/******************************/
#myBtn {
  position: fixed;
  z-index: 99;
  bottom: 20px;
  right: 20px;
  display: none;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: #44434a;
  cursor: pointer;
}

#myBtn:hover {
  background-color: #1d1d21;
}

#myBtn img {
  margin-bottom: 0.25rem;
  width: 18px;
}

/***********************/
/*     Extra Pages     */
/***********************/
.ex-header {
  padding-top: 8.5rem;
  padding-bottom: 4rem;
}

.ex-basic-1 .list-unstyled .fas {
  color: #cc2973;
  font-size: 0.375rem;
  line-height: 1.625rem;
}

.ex-basic-1 .list-unstyled .flex-grow-1 {
  margin-left: 0.5rem;
}

.ex-basic-1 .text-box {
  padding: 1.25rem 1.25rem 0.5rem 1.25rem;
  background-color: #f9fafe;
}

.ex-cards-1 .card {
  border: none;
  background-color: transparent;
}

.ex-cards-1 .card .fa-stack {
  width: 2em;
  font-size: 1.125rem;
}

.ex-cards-1 .card .fa-stack-2x {
  color: #cc2973;
}

.ex-cards-1 .card .fa-stack-1x {
  width: 2em;
  color: #ffffff;
  font-weight: 700;
  line-height: 2.125rem;
}

.ex-cards-1 .card .list-unstyled .flex-grow-1 {
  margin-left: 2.25rem;
}

.ex-cards-1 .card .list-unstyled .flex-grow-1 h5 {
  margin-top: 0.125rem;
  margin-bottom: 0.5rem;
}

/* ********** */
/* 블로그 부분 스타일 */
/* *********** */

.blog-it-infor a {
  color: #242424;
  font-size: large;
}

.blog-item-style-1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: medium;
}
.blog-item-style-1 img {
  margin-right: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 35%;
}
@media (max-width: 767px) {
  .blog-item-style-1 {
    display: flex;
    flex-direction: column;
    width: auto;
  }
  .blog-item-style-1 img {
    margin-right: 0;
    margin-bottom: 30px;
    width: auto;
    max-width: 230px;
    margin-left: 30px;
    height: auto;
  }
}
.blog-item-style-2 {
  margin-right: 25px;
  overflow: hidden;
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .blog-item-style-2 {
    max-width: 350px;
    margin: 0 auto 30px;
  }
}
.blog-item-style-2 img {
  width: 350px;
  height: 180px;

  margin-bottom: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 100%;
}
.blog-item-style-2:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.blog-item-style-2:hover .blog-it-infor h3 a {
  color: #b3b3b3;
}
.blog-item-style-3 {
  background-color: #ff0000;
  margin-bottom: 30px;
  overflow: hidden;
}
.blog-item-style-3 img {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.blog-item-style-3 .blog-it-infor {
  padding: 20px 20px 20px 0;
}
@media (max-width: 767px) {
  .blog-item-style-3 .blog-it-infor {
    padding: 30px;
    margin-top: 0;
  }
}
.blog-item-style-3:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.blog-item-style-3:hover .blog-it-infor h3 a {
  color: #a5a5a5;
}

/* 블로그 부분 스타일 끝 */
