<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>_06_JDBCServlet</display-name>
  
  <!-- 컨텍스트 초기화 매개변수 -->
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>/WEB-INF/application-context.properties</param-value>
  </context-param>
  
  <!-- 리스너 등록 -->
  <!-- 웹어플리케이션 실행 -> contextInitialized()호출 -->
  <!-- 웹어플리케이션 종료 -> contextDestroyed()호출 -->
  <listener>
  	<listener-class>spms.listener.ContextLoaderListener</listener-class>
  </listener>
  
  <!-- 데이터소스 참조 -->
  <resource-ref>
  	<res-ref-name>jdbc/studydb</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
  
  <!-- AppIninServlet 선언 -->
  <!-- <servlet>
  	<servlet-name>AppInitServlet</servlet-name>
  	<servlet-class>spms.servlets.AppInitServlet</servlet-class>
  	클라이언트의 요청이 없어도 웹어플리케이션이 실행될 때 자동으로 서블릿이 생성되도록 함
  	<load-on-startup>1</load-on-startup>
  </servlet> -->
  
  <!-- 필터 선언 -->
  <!-- <filter>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<filter-class>spms.filter.CharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  </filter> -->
  
  <!-- 필터 url 매핑 -->
  <!-- /* : 모든 url 요청에 적용 -->
  <!-- <filter-mapping>
 	<filter-name>CharacterEncodingFilter</filter-name>
 	<url-pattern>/*</url-pattern> 
  </filter-mapping> -->
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>